@import "tailwindcss";


@font-face {
  font-family: 'HyliaSerif';
  src: local('HyliaSerif'), url(../src/Components/fonts/HyliaSerifBeta-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

.zelda-text {
  font-family: 'HyliaSerif' , sans-serif;
}